<div class="userNavbar">
    <div class="nav_logo">
        <img src="./../../../../assets/image/logo1.png" alt="">
        <h3>Foody</h3>
    </div>
    <div class="nav_list">
        <p routerLink="" style="cursor: pointer;"><p>Home</p>
        <p>About</p>
        <p routerLink="/cart" style="cursor: pointer;">Manu</p>
        <p>Contact</p>
    </div>
    <div class="userNavIcon">
        <!-- <i class="fa-solid fa-user"></i>
        <i class="fa-solid fa-magnifying-glass"></i>
        <i class="fa-regular fa-heart"></i>
        <i class="fa-solid fa-cart-shopping"></i> -->
        <a routerLink="/signup"><button>Sign Up</button></a>
    </div>
</div>