// :host {
//     display: flex;
//     flex-direction: column;
//     align-items: flex-start;
//   }
//   .example-container mat-form-field + mat-form-field {
//     margin-left: 8px;
//   }

#form_Id{
    width: 50vw;
    height: 70vw;
    display: flex;
    flex-direction: column;
    gap: 2vw;
    padding: 3vw;
    margin-top: 2vw;
    margin-left: 12vw;
    margin-bottom: 2vw;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1vw 3vw;
    background: #FFF;
    box-shadow: 0px 2px 20px 0px rgba(1, 41, 112, 0.10);
}


.sidebar {
    display: flex;
    width: 300px;
    height: 100%;
    padding: 20px 20px 534px 20px;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    background: rgb(34, 46, 60);
    box-shadow: 0px 0px 20px 0px rgba(1, 41, 112, 0.10);
}

.list {
    display: flex;
    // flex-direction: column;
    align-items: flex-start;
    gap: 7px;
    border-radius: 4px;
    cursor: pointer;
    height: 44px;
    align-items: flex-start;
}


.list>p {
    color: rgb(229, 231, 234);
}

#heading {
    display: flex;
    height: 66px;
    padding: 10px 90px 10px 10px;
    align-items: flex-start;
    gap: 7px;
    border-radius: 4px;
    background: #F6F9FF;
}

#heading_icon {
    margin-top: 12px;
    margin-right: 5px;
}

#heading>p {
    background-color: rgb(248, 249, 250);
}

#icons {
    color: rgb(229, 231, 234);
}

.product{
    padding: 2vw;
    gap: 1rem;
}

.buttons{
    display: flex;
    gap: 1vw;
}