<div class="sidebar" style="height: 90vh;">
    <div class="lists">
        <div id="heading" class="lists">
            <mat-icon id="heading_icon">desktop_mac</mat-icon>
            <p >STAFF MANAGEMENT</p>
        </div>
        <hr>
        <div class="list">
            <mat-icon id="icons" >dashboard</mat-icon>
            <!-- <mat-icon>dashboard</mat-icon> -->
            <p routerLink="/staffhome">Orders</p>
        </div>
        <div class="list">
            <mat-icon id="icons">add_box</mat-icon>
            <p routerLink="/staffdetails">PERSONAL INFO</p>
        </div>
        <!-- <div class="list">
            <mat-icon id="icons">library_books</mat-icon>
            <p routerLink="/editorder">Edit Products</p>
        </div> -->
    </div>
</div>