.homeText {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1vw;
    margin-top: 5vw;

    h1 {
        color: var(--neutral-07, #2C2F24);
        text-align: center;

        /* Headline/H1 */
        font-family: Playfair Display;
        font-size: 100px;
        font-style: normal;
        font-weight: 400;
        line-height: 96px;
        /* 96% */
    }

    p {
        color: var(--neutral-06, #495460);
        text-align: center;

        /* Body/18px/Regular */
        font-family: DM Sans;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        /* 155.556% */
    }
}